*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --primary-font-color: #00224D;
    --hover-font-color: #378CE7;

    --primary-bgcolor: #f4f4f6;
    --hover-bgcolor: #e4e4e8;
    --border-color: #d3d3d3;
}

body{
    height: 100vh;
    background-color: #e4e3e8;
    font-family: Poppins, sans-serif;
    position: relative;
}
img{
    width: 24px;
    height: 24px;
}
a{
    all: unset;
    cursor: pointer;
}
nav{
    display: flex;
    flex-direction: column;

    position: fixed;
    width: 5.5rem;
    height: 100%;
    background-color: #fff;
    padding: 1rem 0 1rem 1rem;
    border-radius: 5px;
    transition: width 0.7s ease;  
}
nav.active{
    width: 13rem;
}
.sidebar-heading,
.sidebar-links{
    display: flex;
    align-items: center;
    color: var(--primary-font-color);
    overflow: hidden;
}
.sidebar-heading{
    margin-bottom: 1.5rem;
}
.logo-container{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 1.3rem;
}
.logo-container >img{
    width: 55px;
    height: 55px;
    padding: 5px;
    background-color: var(--primary-bgcolor);
    border-radius: 5px;
}
.logo-container h2{
    font-size: 24px;
}
.toggle-btn img{
    width: 12px;
    height: 12px;
}
.toggle-btn{
    display: flex;
    justify-content: center;
    align-items: center;  

    position: absolute;
    top: 10px;
    right: -13px;
    background-color: #fff;
    padding: 6px;
    border-radius: 50%;
    transition: transform 0.5s ease;
}
.toggle-btn:hover{
    background-color: var(--hover-font-color);
    cursor: pointer;
    transition: all 0.5s ease;
}
nav.active .toggle-btn{
    transform: rotate(180deg);
}
.sidebar-links{
    flex-direction: column;
    gap: 0.7rem;
    font-size: 12px;
    padding-top: 1.5rem;
    margin-right: 1rem;
    margin-bottom: auto;
}
nav >.sidebar-links{
    border-top: 1px solid var(--border-color);
     margin-right: 1rem;
}
nav.active .sidebar-links,
nav.active .sidebar-heading{
    align-items: stretch;
    justify-content: start;
}
.link{
    display: flex;
    align-items: center;
    gap: 1.7rem;
    padding: 0.7rem;
    margin-right: 1rem;
    border-radius: 5px;
}
.link.active{
    background-color: var(--primary-bgcolor);
    color: var(--hover-font-color);
}
.link:hover,
.link.active:hover{
    background-color: var(--hover-bgcolor);
    color: var(--hover-font-color);
    transform: translateX(10px);
    transition: all .5s ease;
}
.hidden{
    display: none;
}
nav.active .hidden{
    display: inline;
}
.setting{
    padding-bottom: 10px;
    border-bottom: 1px solid var(--border-color);
    margin-right: 1rem;
}
